/*  blue color style    */
.preloader .loader i,
.btn-1:hover,
.header .nav ul li a.active,
.people-section .people-item-inner .social-links a i,
.event-section .event-item-inner span,
.story-section .story-item i,
.story-section .story-text h3,
.couple-section .couple h3,
.couple-section .couple i.fa-heart,
.couple-section .social-links a i,
body.dark .header .nav ul li a.active,
.footer .footer-content .symbol-inner .symbol,
body.dark .header .nav ul li a:hover,
.header .nav ul li a:hover{
    color: #3e99f4;
}

.btn-1,
.event-section .event-item-inner::before,
.couple-section .social-links a i,
.people-section .people-item-inner .social-links a i,
.couple-section .couple img{
    border-color: #3e99f4;
}


.preloader .loader:before{
    border-right-color:#3e99f4;
}
.setting .s-toggle-btn,
.rvsp-section,
.btn-1,
.people-section .people-item-inner .social-links a:hover i,
body.dark .people-section .filter-btn.active,
.event-section,
.people-section .filter-btn.active,
.couple-section .social-links a:hover i{
    background-color: #3e99f4;
}

.header .logo img,
.event-section .event-item-inner img,
.footer .footer-content .couple-name img{
    filter: hue-rotate(220deg);
}